.container{
  border: 1px solid;
  width:712px;
  height:892px;
  display: grid;
  grid-template-rows: 1fr  3fr 30px;
  grid-template-columns: 1.3fr 2fr;
  /* grid-template-rows: 1fr 1fr; */
  /* column-gap: 10px;
  row-gap: 40px; */
  margin: 50px auto; 
  font-family: 'Roboto', sans-serif;
}
h5{
  margin: 5px 0px;
}
.foto{
  clip-path: circle(43.1% at 50% 50%);
  border-color: aliceblue 3px solid;
  margin-left: 10px;
}
.datos-ul{
  list-style-image: url("/resources/caret-circle-right-fill.svg");
  font-size: 15px;
}
.resumen-ul{
  list-style-image: url("/resources/pin-outline.svg");
  font-size: 15px;
}
.Subtitulos{
  border-bottom-right-radius: 50%; 
  padding:10px;
  background-color: rgb(49, 195, 206);
  display: inline-block;
  margin: 15px 10px 0px;
  color: white;
}
.titule{
  background-color: rgb(49, 195, 206);
}
.infomation{
  align-self: center;
  border: 1px solid red;
}
p{
  margin-left: 15px;
}
.style-footer{
  background-color: rgb(49, 195, 206);
  grid-column: 1/ -1;
  grid-row: 3;
}
  .el--1 {
  grid-column: 1/ -1;

    background-color: blueviolet;
  }
  .el--3 {
    background-color: orangered;
    /* grid-column: 1/ span 1; */
    /* grid-column: 1/ -1;
    grid-row: 2/3; */
  }
  .el--2 {
    /* grid-auto-rows: 30%;
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: 1fr 1fr; */
  } 
  .el--4 {
    background-color: goldenrod;
  }
  .el--5 {
    background-color: palevioletred;
  }
  .el--6 {
    background-color: steelblue;
  }
  .el--7 {
    background-color: yellow;
  }
  .el--8 {
    background-color: crimson;
    grid-column: 2/3;
    grid-row: 1/2;
  }